<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
